<%= turbo_stream.remove dom_id(@topic) %>

<%= turbo_stream.prepend "flash_messages" do %>
  <div data-controller="flash"
    class="fixed bottom-5 right-5 bg-red-600 text-white px-6 py-3 rounded-full shadow-lg z-50">
    論点を削除しました
  </div>
<% end %>